name: Simple Python CI CD 

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo code
        uses: actions/checkout@v4
      
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
    
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

     
      - name: Run tests
        run: |
          pip install pytest-cov
          pytest --cov=. --cov-report=term --cov-report=html --cov-report=term-missing --cov-report=xml --cov-fail-under=80

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v3
        with:
          name: coverage-reports
          path: |
            coverage.xml
            htmlcov